*,
html,
body {
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    background-color: goldenrod;
    font-size: 3em;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

nav a {
    text-decoration: none;
}

#home-page h1 {
    color: darkgoldenrod;
    text-align: center;
    padding: 2rem;
}

#shop-page {
    display: grid;
    border-top: solid black 2px;
}

#cart {
    background-color: aliceblue;
    position: fixed;
    top: 5em;
    right: 0;
    width: 15em;
    border: solid black 2px;
    display: grid;
    list-style-type: none;
    grid-auto-rows: 3em;
    border-radius: 0.7rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#cart button {
    border: none;
    background-color: rgb(87, 210, 149);
}

/* #cart-button {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
} */

#checkout-button {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.cart-item {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.5fr;
}

#total {
    display: grid;
}

.item {
    grid-column-start: 1;
    list-style: none;
    display: grid;
    grid-template-columns: 10em 7em 15em;
    padding-bottom: 2em;
    height: 2em;
    border-bottom: solid rgb(157, 157, 157) 2px;
    align-items: center;
}

.item form {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

.item form input {
    width: 3em;
}

.item form .add-btn {
    margin-left: 2em;
}
