*,
html,
body {
    margin: 0;
    padding: 0;
}

nav {
    height: 5em;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    list-style-type: none;
    padding: 0;
}

#shop-page {
    display: grid;
    border-top: solid black 2px;
}

#cart {
    background-color: aliceblue;
    position: fixed;
    top: 5em;
    right: 0;
    width: 15em;
    border: solid black 2px;
    display: grid;
    list-style-type: none;
    grid-auto-rows: 3em;
}

#cart button {
    border: none;
}

.item {
    grid-column-start: 1;
    list-style: none;
    display: grid;
    grid-template-columns: 10em 7em 15em;
    padding-bottom: 2em;
    height: 2em;
    border-bottom: solid rgb(157, 157, 157) 2px;
    align-items: center;
}

.item form {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

.item form input {
    width: 3em;
}

.item form .add-btn {
    margin-left: 2em;
}
